<!-- Link Font Google Material Icons -->
<link href="https://fonts.googleapis.com/css2?family=Nunito+Sans:wght@400;600;700&family=Material+Symbols+Outlined:wght,FILL@100..700,0..1&display=swap" rel="stylesheet">
<link rel="stylesheet" href="../css/admin-sidebar.css">

<aside class="admin-sidebar custom-scrollbar">
    <div class="sidebar-logo">
        <img alt="Urii Logo" src="../assets/Urii-Logo.png">
    </div>

    <nav class="sidebar-nav">
        <a class="nav-item" href="../html/admin-dashboard.html">
            <span class="material-symbols-outlined icon-md">dashboard</span>
            <span class="nav-text">Dashboard</span>
        </a>
        <a class="nav-item" href="../html/admin-products.html">
            <span class="material-symbols-outlined icon-md">storefront</span>
            <span class="nav-text">Quản lý sản phẩm</span>
        </a>
        <a class="nav-item" href="../html/admin-orders.html">
            <span class="material-symbols-outlined icon-md">shopping_bag</span>
            <span class="nav-text">Quản lý đơn hàng</span>
        </a>
        <a class="nav-item" href="../html/admin-coupons.html">
            <span class="material-symbols-outlined icon-md">confirmation_number</span>
            <span class="nav-text">Quản lý coupon</span>
        </a>
        <a class="nav-item" href="../html/admin-users.html">
            <span class="material-symbols-outlined icon-md">group</span>
            <span class="nav-text">Quản lý user</span>
        </a>
        <a class="nav-item" href="../html/admin-blogs.html">
            <span class="material-symbols-outlined icon-md">assignment</span>
            <span class="nav-text">Quản lý blog</span>
        </a>
        <a class="nav-item" href="../html/admin-comments.html">
            <span class="material-symbols-outlined icon-md">chat</span>
            <span class="nav-text">Quản lý bình luận</span>
        </a>
        <a class="nav-item" href="../html/admin-library.html">
            <span class="material-symbols-outlined icon-md">photo_library</span>
            <span class="nav-text">Quản lý thư viện</span>
        </a>
    </nav>

    <div class="sidebar-footer">
        <a class="footer-link" href="../html/admin-help.html">
            <span class="material-symbols-outlined icon-md">help</span>
            <span class="footer-text">Trung tâm trợ giúp</span>
        </a>
        <a class="footer-link" id="adminLogoutBtn" href="#">
            <span class="material-symbols-outlined icon-md">logout</span>
            <span class="footer-text">Đăng xuất</span>
        </a>
    </div>
</aside>

<script src="../js/admin-layout.js"></script>
